
ul{
    list-style-type: none;
    background-color: #333333;
    padding: 0px;
    margin: auto;
    text-align: center;
}

li{
    
  display:inline-block;
  
}

li a{
    text-decoration: none;
    color: white;
    display: block;
    text-align: center;
    padding: 16px;
    

}

li a:hover {
    background-color: #111111;
  }

body{
    margin: 0;
    overflow-x: hidden;
   
}

img{
  width: 100%;
  height: 500px;
  opacity: 0.7;
}
.container{
  text-align: center;
  position: relative;
  
}
.text{
  line-height: 1.6;
  position: absolute;
  top: 25%;
  bottom: 25%;
  right: 25%;
  left: 25%;
  color:ghostwhite;
  font-size: 40px;
}

#mycomp{
  width: 100%;
 
}
.skills{
  width: 130%;
  
}

#imgsk{
  height: 90px;
 
}

.prev,
.next{
  cursor: pointer;
  position:absolute;
  font-size: 25px;
  color:black;
  padding: 20px;
}

.next{
  right: 0;
}
.prev{
  left: 0;
}
.prev:hover,
.next:hover {
  background-color: rgb(11, 15, 24);
  color: white;
}
.myslide{
border-style: ridge;
border-radius: 10px;
width: 9%;
float: left;
position: relative;
left: 1%;

}
.myslide:hover{
  
  transform: scaleY(1.2);
  
}
#imgsk:hover {
   transform: scaleY(1.5);
  
}
.viewcv{
  position: relative;
 text-align: center;
 
}
#mycv{
   margin-top: 20%;
  text-decoration: none;
  color:blue;
}
#none{
  text-decoration: none;
}
#mycv:hover{
  color: rgb(0, 255, 0);
  
}
footer{
  background-color: #333333;
  
  display: flex;
}
.col-1{
  color: white;
  width: 50%;
  line-height: 2;
 padding-left: 10%;

}

.col-2{
 
  width: 50%;
  margin-top: 30px;
  text-align: center;
}
.col-2 i{
  font-size: 30px;
  margin-right: 4px;
}
.col-2 a{
  color: white;
  text-decoration: none;
}
.phone{
  display: none;
}

@media only screen and (max-width: 576px){

img{
    width: 100%;
    height: auto;
    opacity: 0.7;
  }

  .text{
    line-height: 1.6;
    position: absolute;
    top: 25%;
    bottom: 25%;
    right: 25%;
    left: 25%;
    color:ghostwhite;
    font-size: 15px;
  }
  .skills{
    
    display: none;
  } 
  #mycomp{
    position: relative;
  }
.prev,
.next{
   cursor: pointer;
  position:absolute;
  font-size: 20px;
  color:black;
  padding: 20px;
  
}

.next{
  right: 0;
}
.prev{
  left: 0;
}
.prev:hover,
.next:hover {
  background-color: rgb(11, 15, 24);
  color: white;
}
.phone{
  display: block;
  width: 100%;
}

footer{
display: block;
background-color: #333333;
}

.col-1{
  color: white;
  width: 100%;
  line-height: 2;
  margin-left:20%;
}
.col-2{
 
  width: 100%;
  margin-top: 10px;
  text-align: center;
}
.col-2 i{
  font-size: 20px;
  margin-right: 2px;
}
.col-2 a{
  color: white;
  text-decoration: none;
}
.imgphone{
  border-style: ridge;
border-radius: 10px;
width: 80%;

position: relative;
left: 10%;
right: 10%;

}
/*
#phoneimg{
  transform: scaleY(1.2);
}*/
#phoneimg{
  height: 40%;
}

}
